<% const yearify = ["0", "I", "II", "III", "IV"]; %>
<% const branchify = {"CS" : "Computer Science","IT" : "Information Techology","MXTC" : "Mechatronics","EXTC" : "Electronics & Telecommunication","CIVIL" : "Civil","MECH" : "Mechanical"}%>

<%- include ../partials/head.ejs %>
  <style>
    .course-details{
      list-style-type: none;
      padding: 0px;
    }
    .general-form{
      margin: auto;
      background-color: rgb(248, 251, 253);
      box-shadow: 10px 10px 5px rgb(231, 234, 236);
      padding: 20px;
      border-radius: 2%;
    }
    .course-description{
      margin: 2.3em auto;
      cursor: pointer;
      min-height: 160px;
    }
    ul{
      list-style-type: none;
      padding: 0px;
    }
    .containernew {
      position: relative;
      width: 50%;
    }
    .overlay {
      position: absolute;
      opacity: 0.95;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: lightcoral;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
    }

    .containernew1:hover .overlay {
      bottom: 0;
      height: 100%;
    }

    .text {
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

  </style>
<%- include ../partials/header.ejs %>
  <main>
    <div class="container">
      <h1><%= subject.title %></h1>
      <nav aria-label="breadcrumb" class="subject-path">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/subjects?year=<%= subject.year %>&branch=<%= subject.branch %>"><%= branchify[subject.branch] %> / <%= yearify[subject.year] %> year</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= subject.title %></li>
        </ol>
      </nav>
      <hr/>
    </div>
    <div class="container">
        <div class="row bg-light course-description shadow" onmouseover="hovered(this)" onmouseout="removed(this)" onclick="javascript:location.href= '/material/%c567612eb65d098f9a' ">
          <div class="col-md-3 p-2" style="margin: 0px;">
            <div class="course-image">
              <img src="https://udemy-images.udemy.com/course/240x135/1638522_fbdf.jpg" alt="Course Image" style="margin: 0px;padding: 0px;width: 100%">
            </div>
          </div>
          <div class="col-md-4 p-2">
            <ul class="course-details">
                <li><h4>Become an HTML Expert</h4></li>
                <li><h6 style="line-height: 20px;">Learn everything you'll need to know in HTML. Including XHTML, SVG, HTML5 and a little bit of CSS</h6></li>
                <li><h6>-jesse Caine <span style="float:right;padding-right:20%;font-size:1.2em;">700/-</span></h6></li>
              </ul>
          </div>
          <div class="col-md-5 p-2">
            <ul>
              <li><h6>Understand the difference between Block and Inline Elements</h6></li>
              <li><h6>How to Embed Files into an HTML Document</h6></li>
              <li><h6>How to Embed Files into an HTML Document</h6></li>
              <li><h6>How to Embed Files into an HTML Document. It is good.</h6></li>
            </ul>
          </div>
        </div>
        <% subject.materials.forEach(material =>{ %>
        <div class="row bg-light course-description containernew1 shadow" onmouseover="hovered(this)" onmouseout="removed(this)" onclick="javascript:location.href= '/material/<%= material._id %>'">
          <div class="col-md-3">
            <div class="course-image" style="border:2px solid grey;height: 140px; margin:10px 0; width:100%; background-image:url('https://udemy-images.udemy.com/course/240x135/1638522_fbdf.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; "></div>
            <div class="overlay">
                <div class="text">Published by: <br><strong><%= material.publisher.name.first %> <%= material.publisher.name.last %></strong><br> Uploaded on: <br>13/01/2019</div>
            </div>
          </div>
          <div class="col-md-5 p-2">
            <ul class="course-details">
              <li><h4> by</h4></li>
              <li><h6><strong>Under guidance of: </strong> <%= material.guidedBy %></h6></li>
              <li><h6>By: <%= material.publisher.name.first %> <%= material.publisher.name.last %></h6></li>
              <li><h6><strong>Branch: </strong><%= branchify[material.branch] %></h6></li>
              <li class="row"><h6 class="col-lg-6"><strong>Year: </strong><%= yearify[material.year] %></h6><h6 class="col-lg-6"><strong>74 Pages</strong></h6></li>
            </ul>
          </div>
          <div class="col-md-4 p-2">
            <ul class="course-details">
              <li><h4><u>Topics Covered:</u></h4></li>
              <% for(let i=0; i<= 3; i++){ %>
                <% if(i<3){ %>
                  <li><h6><%= material.contents[i].chapterName %></li></h6>                
              <% }else{if((material.contents.length - 3) !== 0){ %>
                <li> +<%= material.contents.length-3 %> more</li>
              <%  }}} %>
            </ul>
          </div>
        </div>
        <% }) %>                
        <div id="differentMaterials">
  
        </div>
      </div>
  </main>
  <script>
    const yearify = ["0", "I", "II", "III", "IV"];
    const branchify = {"CS" : "Computer Science","IT" : "Information Techology","MXTC" : "Mechatronics","EXTC" : "Electronics & Telecommunication","CIVIL" : "Civil","MECH" : "Mechanical"};
    $( document ).ready(() => {
      $.post("/api/main/get/materials",
      { title: "<%= subject.title %>", year: <%= subject.year %>, branch: "<%= subject.branch %>"},
      (data, status) =>{
        console.log("Data: "+data+"\nStatus: "+status);
        return JSON.stringify(data)
      })
      .then(materials => {
        console.log(materials);
        if(materials.length !== 0){
          let forDifferentDiv = `<h2 class="mt-5">Trending in "<%= subject.title %>" from other streams:</h2><hr/>`;
          materials.forEach(material => {
            let topicsCovered = '';
            for(let i=0; i<= 3; i++){
              if(i<3){
                topicsCovered += `<li><h6>${material.contents[i].chapterName}</li></h6>`;
              }else{
                if((material.contents.length - 3) !== 0){
                  topicsCovered += `+${material.contents.length - 3} more`;
                }
              }
            }
            forDifferentDiv += `<div class="row bg-light course-description containernew1 shadow" onmouseover="hovered(this)" onmouseout="removed(this)" onclick="javascript:location.href= '/material/${material._id}'">
              <div class="col-md-3">
                <div class="course-image" style="border:2px solid grey;height: 140px; margin:10px 0; width:100%; background-image:url('https://udemy-images.udemy.com/course/240x135/1638522_fbdf.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; "></div>
                <div class="overlay">
                    <div class="text">Published by: <br><strong>${material.publisher.name.first} ${material.publisher.name.last}</strong><br> Uploaded on: <br>13/01/2019</div>
                </div>
              </div>
              <div class="col-md-5 p-2">
                <ul class="course-details">
                  <li><h4> by</h4></li>
                  <li><h6><strong>Under guidance of: </strong> ${material.guidedBy}</h6></li>
                  <li><h6>By: ${material.publisher.name.first} ${material.publisher.name.last}</h6></li>
                  <li><h6><strong>Branch: </strong>${branchify[material.branch]}</h6></li>
                  <li><h6><strong>Year: </strong>${yearify[material.year]}</h6></li>
                </ul>
              </div>
              <div class="col-md-4 p-2">
                <ul class="course-details">
                  <li><h4><u>Topics Covered:</u></h4></li>
                  ${topicsCovered}
                </ul>
              </div>
            </div>`;
          })
          $('#differentMaterials').html(forDifferentDiv);
        }
      });
    });
  </script>    
<%- include ../partials/footer.ejs %>